@font-face {
  font-family: Baloo;
  src: url(/assets/BalooBhaijaan-Regular.ttf);
}
/* Home Page */
body {
  font-family: Baloo;
  background-color: rgba(252, 194, 210, 0.25);
}
.titleFont {
  font-size: 80px;
}

.hide{
    display: none;
}

.homeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}

.gameBox {
  width: 250px;
  height: 325px;
  border-radius: 30px;
  cursor: pointer;
}

.yellow {
  background-color: #fdd79a;
}

.lightBlue {
  background-color: #c8e1f4;
}

.purple {
  background-color: #aa9dd1;
}

.red {
  background-color: #ef8889;
}

.lightBlue2 {
  background-color: #cee3e6;
}

.cyan {
  background-color: #8ad1d1;
}

.pink {
  background-color: #fcc2d2;
}

.blue {
  background-color: #5eb1e7;
}

.pink2 {
  background-color: #c68dc6;
}

.purple2 {
  background-color: #9793d2;
}

.imgSize {
  height: 200px;
  width: 200px;
}

.gameFont {
  font-size: 30px;
}

/* Hello World Page */

.helloBg {
  background-color: #fdd79a;
  background-image: url("../assets/file (21).png");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
}

.helloGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.homeBtn {
  grid-column: 1;
  height: 100px;
  width: 200px;
  border-radius: 0px 0px 30px 0px;
  background-color: #fef0f4;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invisible{
    background-color: transparent;
    color: transparent;
    grid-column: 3;
    display: flex;
    justify-content: end;
}

.modeBox {
  grid-column: 2;
  grid-row: 1;
  margin-top: 2rem;
  background-color: #fef0f4;
  width: 800px;
  height: 200px;
  border-radius: 30px;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputField {
  grid-column: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inputBox {
  width: 700px;
  height: 100px;
  background-color: #fef0f4;
  border-radius: 30px;
  font-size: 20px;
}
.font80 {
  font-size: 80px;
}
.font40 {
  font-size: 40px;
}

.donePlacement{
    grid-column: 2;
}
.doneBtn {
  background-color: #a1e58c;
  width: 350px;
  height: 100px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
}

/* Asking Questions Page */
.questionsBg {
  background-color: #c8e1f4;
}

.questionsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 1fr .5fr;
}

.promptBg {
  background-color: #fef0f4;
  border-radius: 30px;
  width: 740px;
  height: 100px;
}
.promptBg2 {
  background-color: #fef0f4;
  border-radius: 30px;
  width: 700px;
  height: 100px;
}

.doneBtn2 {
  grid-column: 2;
  grid-row: 4;
  background-color: #a1e58c;
  width: 350px;
  height: 100px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adding Numbers Page */
.numbersGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr .1fr;
    column-gap: 30px;
    row-gap: 30px;
  }
.numbersBg {
    background-color: #AA9DD1;
    background-image: url("../assets/file (18).png");
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .textBg{
    background-color: #fef0f4;
    width: 850px;
    height: 100px;
    border-radius: 30px;
  }

  .inputContainer{
   gap: 225px;
  }
  .inputBox2{
    width: 250px;
  height: 100px;
  background-color: #fef0f4;
  border-radius: 30px;
  font-size: 20px;
  }
  .sumPlacement{
    grid-row: 3;
    grid-column: 2;
  }

  .sumBox{
    width: 500px;
  height: 100px;
  background-color: #fef0f4;
  border-radius: 30px;
  font-size: 80px;
  }

  /* madlibs page */
  .madlibsBg {
    background-color: #ef8889;
  }
  
  .madlibsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .6fr 1fr 1fr;
  }

  .madlibsPlacement{
    grid-row: 2;
    grid-column: 2;
  }

  .madlibsInputBox{
    height: 50px;
    background-color: #fef0f4;
    border-radius: 30px;
  }

  .borderRadius{
    border-radius: 30px;
  }

  .madlibBox{
    max-width: 800px;
    height: 300px;
    background-color: #fef0f4;
    font-size: 15px;
    border-radius: 30px;
    padding: 15px;
  }

  /* Odd or Even Page */
  .OddOrEvenBg {
    background-color: #CEE3E6;
    background-image: url("../assets/file (22).png");
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .OddOrEvenGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr .5fr .1fr;
  }
  .promptText{
    width: 900px;
  }

  .inputBox2 {
    width: 350px;
    height: 100px;
    background-color: #fef0f4;
    border-radius: 30px;
    font-size: 80px;
  }

  .resultBox{
    width: 500px;
    height: 100px;
    background-color: #fef0f4;
    font-size: 40px;
    border-radius: 30px;
    padding: 15px;
  }
  /* Reverse It Alphanumeric */
  .reverseItGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr .1fr;
    column-gap: 30px;
    row-gap: 30px;
  }
.reverseItAlphanumericBg {
    background-color: #8ad1d1;
  }
  .inputContainer2{
    gap: 25px;
  }

  .reverseItImg{
    width: 350px;
    height: 350px;
  }

  .inputField2 {
    grid-column: 1/4;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  /* Reverse It Numbers Page*/

.reverseItNumbersBg {
    background-color: #fcc2d2;
  }

  /* Magic 8 Ball Page */
  .Magic8BallBg {
    background-color: #5eb1e7;
  }
  
  .Magic8BallGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .2fr .5fr;
  }

  .magic8Ball{
    grid-row: 3;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-image: url(../assets/file\ \(20\).png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 650px;
    height: 650px;
  }

  .magic8BallText{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color: white;
  }

  /* Greater Than Less Than */
  .greaterThanLessThanBg {
    background-color: #C68DC6;
  }

  /* Restaurant Picker Page */
  .RestaurantPickerBg {
    background-color: #9893D2;
  }
  
  .RestaurantPickerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .2fr .5fr;
  }

  .foodGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 75px;
  }

  .foodBox{
    height: 325px;
    width: 275px;
    border-radius: 30px;
    cursor: pointer;
  }

  .foodIcon{
    width: 250px;
    height: 250px;
  }

  /* Responsiveness */

  @media screen and (max-width: 768px) {
    .homeGrid{
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0;
        column-gap: 10px;
    }
    .gameBox{
        width: 200px;
        height: 300px;
    }

    .gameFont{
        margin: 0;
    }

    .helloGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        display: block;
    }

    .homeBtn{
        grid-row: 1;
    }
    .modeBox{
        grid-row: 2;
        width: 410px;
        height: 125px;
        font-size: 50px;
    }
    .font80{
        font-size: 40px;
    }

    .inputBox{
       width: 410px;
    }

    .numbersGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        display: block;
    }

    .textBg{
        width: 410px;
    }
    .inputContainer{
        flex-direction: column;
        gap: 50px;
    }

    .inputBox2{
        font-size: 30px;
    }

    .questionsGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        display: block;
    }

    .resultBox{
        height: 300px;
    }

    .promptBg{
        width: 410px;
    }
    .promptBg2{
        width: 410px;
    }
    .doneBtn{
        margin-top: 10px;
    }

    .madlibsGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        display: block;
    }

    .OddOrEvenGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        display: block;
    }

    .promptText{
        width: 410px;
    }

    .ReveseItAlphanumericGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        display: block;
    }
    .Magic8BallGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        display: block;
    }

    .magic8Ball{
        width: 410px;
        height: 410px;
    }

    .magic8BallText{
        font-size: 20px;
    }
    

    .inputContainer2{
        flex-direction: column;
        margin: 0;
        align-items: center;
    }

    .reverseItImg{
        width: 200px;
        height: 200px;
    }

    .reverseItGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        display: block;
    }
    .RestaurantPickerGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        display: block;
    }

    .foodGrid{
        grid-template-columns: 1fr;
        gap: 25px;
    }
  }

  @media screen and (max-width: 600px) {
    .homeGrid{
        grid-template-columns: 1fr 1fr;
        margin: 0;
        column-gap: 10px;
    }
}